.btn
	padding: 13px 22px
	display: flex
	align-items: center
	justify-content: center
	border: none
	font: 14px $Reg
	font-weight: 500
	color: #FFFFFF
	background-color: $accent
	border-radius: 5px
	cursor: pointer
	transition: all .5s ease
	@media(min-width: 992px)
		&:hover
			border-color: lighten($accent, 10)
			background-color: lighten($accent, 10)
	&_big
		padding: 17px
		font-size: 15px
		font-weight: 500
		vertical-align: middle
		@media (max-width: 992px)
			margin-right: 0
			height: 55px
			display: block
			padding: 10px
			align-self: center
		@media (max-width: 768px)	
			display: inline-block	
	&__text
		font-family: $Medium
	&__img
		margin-right: 10px
		width: 20px
		height: 20px
		@media (max-width: 576px)
			margin-right: 0
input
	border-radius: 4px
	border: none
	padding: 19.5px
	font-size: 14px
	font-weight: 300
	vertical-align: middle
	flex-basis: 60%
	margin-right: 10px
	@media (max-width: 992px)
		text-align: center
		margin-right: 10px
		margin-bottom: 0px
		width: 300px
	@media (max-width: 768px)
		margin-right: 0
		margin-bottom: 13px
		width: 100%
	&:focus
		outline: none
