@import "vars"
@import "fonts"
@import "interface"
@import "helpers"

@import "blocks/common/header"
@import "blocks/common/main"
@import "blocks/common/form"
@import "blocks/common/features"
@import "blocks/common/offer"
@import "blocks/common/popup"
@import "blocks/common/scores"
@import "blocks/common/production"
@import "blocks/common/fabrication"
@import "blocks/common/clients"
@import "blocks/common/feedback"
@import "blocks/common/contact"
@import "blocks/common/footer"




::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
input:focus
	border-color: $accent
	background-image: none
*
	outline: 0
body
	margin: 0
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden
	color: #000000
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
			
@media (min-width: 1200px)
	.container
		max-width: 968px