.slider-img
  position: absolute  
  top: 50%
  transform: translate(0 , -50%)
  z-index: 10
  background: no-repeat center
  cursor: pointer
  width: 22px
  height: 100%
  &-right
    right: 0
    background-image: url(../img/slider-right.png)
    @media screen and(max-width: 576px)
      right: 30px
  &-left
    left: 0
    background-image: url(../img/slider-left.png)
    @media screen and(max-width: 576px)
      left: 30px
.documents
  background-color: #f4f4f4
  text-align: center
  
  .document-img
    display: inline
.documents-count
  margin: 0 auto
  max-width: 940px
  display: flex
  justify-content: space-around
.documents-count-img
  width: 46px
  height: 6px
  margin-top: 10px
  margin-bottom: 20px
  display: inline-block
.documents-title
  padding-top: 55px
  color: #313131
  font-family: "Roboto", sans-serif
  font-size: 27px
  font-weight: 700
  line-height: 18px
  text-transform: uppercase
  line-height: 1

