.clients
	display: none	
	text-align: center
	margin-bottom: 60px
	&__header
		text-align: center
		text-transform: uppercase
		font-size: 27px
		font-weight: 700
	&__block
		margin: 0 auto
		display: flex
		text-align: center
		justify-content: space-around
		flex-wrap: wrap
		max-width: 940px
.client
	max-width: 212px
	min-height: 130px
	border: 1px solid #e5e5e5
	cursor: pointer
	margin: 20px 10px
	color: #e5e5e5 
	transition: all ease 0.2s
	filter: grayscale(100%)
	transition: 1s
	&:hover
		filter: grayscale(0)
	@media screen and(max-width: 456px)
		filter: grayscale(0)
		min-width: 132px
		


.client-1 
	background: url(../img/clients/client_1.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-2 
	background: url(../img/clients/client_2.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-3 
	background: url(../img/clients/client_3.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-4 
	background: url(../img/clients/client_4.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-5 
	background: url(../img/clients/client_5.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-6 
	background: url(../img/clients/client_6.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-7 
	background: url(../img/clients/client_7.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-8 
	background: url(../img/clients/client_8.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-9 
	background: url(../img/clients/client_9.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-10 
	background: url(../img/clients/client_10.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-11 
	background: url(../img/clients/client_11.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain
.client-12 
	background: url(../img/clients/client_12.png) no-repeat center
	width: 100%
	height: 100%
	object-fit: contain


