.contacts
	position: relative
	&__col
		display: flex
	&__header
		text-align: center
		text-transform: uppercase
		font-size: 22px
		font-weight: 700
		display: none
		padding-bottom: 19px
		@media (max-width: 768px)
			display: block
			
	&__body
		position: absolute
		top: 73px
		left: calc(50% - 470px)
		// left: 50%
		z-index: 2
		padding: 20px 20px
		max-width: 313px
		background-color: #fff
		color: #373737
		@media (max-width: 992px)
			left: 5%
			max-width: 282px
		@media (max-width: 768px)
			padding: 40px 0
			margin: 0 auto
			display: flex
			flex-wrap: wrap
			position: static
			justify-content: center
			align-items: center
			text-align: center

	&__item
		margin-bottom: 25px
		display: inline-block
		vertical-align: top
		@media (max-width: 576px)
			margin-left: 0
			margin-bottom: 10px 
	&__cta
		&-btn
			@media (max-width: 768px)
				margin: 0 auto
				height: 45px	
	&__item
		&-clear
			margin-bottom: 0


	
	&__title
		font-family: "Roboto", sans-serif
		font-size: 18px
		font-weight: 500
	&__text
		display: block
		line-height: 2
		font-weight: 300
		text-decoration: none
		color: inherit
		@media (max-width: 768px)
			font-size: 14px

	&__img
		&-wrap
			// position: absolute
			// padding-top: 2px
			margin-right: 15px
			@media (max-width: 768px)
				display: none
	&__map
		height: 550px
		@media (max-width: 768px)
			padding: 15px
			padding-top: 0
			box-sizing: content-box

	

	
		
		
