.fabrication
	padding-top: 87px
	padding-bottom: 95px
	@media (max-width: 	992px)
		padding-top: 28px
		padding-bottom: 28px	
		margin-bottom: 20px
	@media (max-width: 	768px)
		padding: 20px	0	
	&__slider
		&_top
			width: 535px 
			margin: 0 auto 13px
			@media (max-width: 992px)
				width: 100%
			@media (max-width: 768px)
				display: none
	&__img
		width: 100%
		height: 400px
		object-fit: cover
		&-wrap
			width: 100px
			height: 78px
			margin: 0 3px
			@media (max-width: 	768px)
				height: 380px
	&__slider
		&_bottom
			width: 535px
			padding: 0 25px
			margin: 0 auto
			@media (max-width: 	992px)
				width: 100%
				padding: 0	
			img
				height: 100%
				width: 100%
				object-fit: cover
			.slick-list
				.slick-slide
					filter: brightness(50%)
					transition: 1s 
				.slick-current
					filter: brightness(100%)
					transition: 1s
			.slick-track
				margin-left: 118px
				@media (max-width: 	992px)
					margin-left: 0
	&__text
		padding-top: 19px
		@media (max-width: 	992px)
				padding-top: 80px;
				padding-bottom: 20px
	&__body
		padding-top: 19px
		@media (max-width: 	576px)
			padding-top: 0px  
	&__title 
		position: relative
		width: 400px 
		padding: 15px 30px	
		background-color: $accent
		color: #fff
		font-size: 28px
		font-weight: 400
		text-align: left
		z-index: -1
		left: -30px
		margin-bottom: 28px
		@media (max-width: 	992px)
			display: none
		&_mobile
			display: none
			@media (max-width: 	992px)
				left: 0
				z-index: 0
				margin: 0 auto 20px
				width: 690px 
				display: block
				text-align: center
				text-transform: uppercase
				font-size: 20px
			@media (max-width: 	768px)	
				margin-bottom: 17px
				width: 100%
				max-width: 100%
	&__paragraph
		font-size: 16px
		font-weight: 300
		line-height: 1.5
		margin-bottom: 28px
		text-align: justify
		@media (max-width: 	992px)
			padding-top: 0
			padding-bottom: 15px
		@media (max-width: 	768px)
			text-align-last: center
			font-size: 15px	
			padding-bottom: 0
		@media (max-width: 	576px)
			font-size: 14px	
			margin-bottom: 10px

	&__arrow
		position: absolute
		top: 0
		width: 22px
		height: 100%
		z-index: 99
		cursor: pointer
		border: 1px solid #ff9d00
		&_left
			background: #fff url(../img/fabrication/arrow-left-active.png) center no-repeat
			left: 0
			@media (min-width: 992px)
				&:hover
					background: #ff9d00 url(../img/fabrication/arrow-left.png) center no-repeat
			@media (max-width: 768px)
				background: #ff9d00 url(../img/fabrication/arrow-left.png) center no-repeat
				height: 78px
				top: 50%
				left: 1px
				transform: translateY(-50%)
		&_right
			background: #fff url(../img/fabrication/arrow-right-active.png) center no-repeat
			right: 0
			@media (min-width: 992px)
				&:hover
					background: #ff9d00 url(../img/fabrication/arrow-right.png) center no-repeat
			@media (max-width: 768px)
				background: #ff9d00 url(../img/fabrication/arrow-right.png) center no-repeat
				height: 78px
				top: 50%
				right: 1px
				transform: translateY(-50%)
					
