.features
	background-color: $light-grey
	padding-top: 49px
	padding-bottom: 55px
	@media (max-width: 992px)
		padding-top: 5px
		padding-bottom: 40px
	@media (max-width: 768px)
		padding-bottom: 20px
	&__blocks
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		@media (max-width: 768px)
			justify-content: center
			flex-direction: column
			align-items: center
			padding-top: 23px

	&__block
		display: flex
		flex-basis: 294px
		padding: 28px 10px
		background-color: #fff
		margin-bottom: 30px
		color: #373737
		// max-width: 300px
		align-items: center
		@media (max-width: 992px)
			flex-basis: 49%
		@media (max-width: 768px)
			margin-bottom: 15px
		

	&__img
		flex-basis: 10%
		margin-right: 9px
		align-self: center

	&__text
		align-self: start

	&__title
		font-size: 15px
		font-weight: 700
		margin-bottom: 5px

	&__descr
		font-size: 14px
		font-weight: 300
		line-height: 19px