.feedback
	background-color: #f4f4f4
	text-align: center
	padding-top: 75px 
	padding-bottom: 60px
	@media (max-width: 	992px)
		padding-top: 28px
		padding-bottom: 28px
	@media (max-width: 	768px)
		padding: 20px	0	
	&__title
		text-align: center
		text-transform: uppercase
		font-size: 27px
		font-weight: 700
		color: #313131
		@media (max-width: 	768px)
			font-size: 23px
			margin-bottom: 15px
		&_img
			padding-bottom: 30px
			display: inline
			@media (max-width: 	768px)
				display: none
	&__slider
		margin: 0 auto
		max-width: 940px
		display: flex
		justify-content: space-around
	&__img
		margin: 0 auto
		@media (max-width: 	768px)
			height: 377px
	&__arrow
		position: absolute
		top: 0
		width: 22px
		height: 100%
		z-index: 99
		cursor: pointer
		@media (max-width: 992px)
			border: 1px solid #ff9d00
			height: 78px
			top: 50%
			transform: translateY(-50%)
		&_left
			background: url(../img/feedback/arrow-left.png) center no-repeat
			left: 0
			@media (max-width: 992px)
				left: calc(50% - 180px)
				border: none
			@media (max-width: 576px)
				left: calc(50% - 140px)
				background: #ff9d00 url(../img/fabrication/arrow-left.png) center no-repeat
		&_right
			background: url(../img/feedback/arrow-right.png) center no-repeat
			right: 0
			@media (max-width: 992px)
				right: calc(50% - 180px)
				border: none
			@media (max-width: 576px)
				right: calc(50% - 140px)
				background: #ff9d00 url(../img/fabrication/arrow-right.png) center no-repeat