.footer
	display: flex
	// height: 88px
	padding: 30px 0
	background-color: #000
	width: 100%
	align-items: center
	justify-content: center
	color: rgba(#fff, 0.5)
	&__text
		font-family: Roboto
		font-size: 13px
		color: #fff
		opacity: 0.5





		