.header
	padding: 15px 0
	background-color: #fff
	position: sticky
	top: 0
	left: 0
	width: 100%
	z-index: 100
	@media (max-width: 768px)
		background-color: #f4f4f4
	&__logo
	&__phones-btn
		display: flex
		align-items: center
		justify-content: flex-end
	&__phones
		display: flex
		@media (max-width: 992px)
			flex-direction: column
	&__phone
		font: 22px "Roboto"
		font-weight: 500
		text-decoration: none
		color:#373737
		padding-left: 10px
		transition: all .3s ease
		@media (max-width: 992px)
			font-size: 18px
			padding: 0
		@media (max-width: 576px)
			font-size: 14px
		&:hover
			cursor: pointer
			color:#ff9d00
		&_border
			padding-left: 0
			padding-right: 10px
			border-right: 1px solid #cfcfd0
			@media (max-width: 992px)
				border-right: none
				padding: 0
		&_decor
			@media (max-width: 768px)
				font-weight: 800
	&__btn
		margin-left: 27px
		@media (max-width: 768px)
			height: 46px
			width: 46px
			padding: 0
		@media (max-width: 576px)
			width: 29px
			height: 29px
			margin-left: 12px
		&-img
			@media (max-width: 768px)
				margin-right: 0
			@media (max-width: 576px)
				height: 14px
				width: 14px
		&-text
			@media (max-width: 768px)
				display: none

.logo
	@media (max-width: 768px)
		height: 46px
		width: 46px
		padding: 6px 4px
		margin-left: 0px
		display: flex
		align-items: center
		justify-content: center
		background-color: #ff9d00
		border-radius: 4px
	@media (max-width: 576px)
		width: 29px
		height: 29px
	&__img
		width: 100%
		&_desktop
			max-width: 191px
			@media (max-width: 768px)
				display: none
		&_mobile
			display: none
			@media (max-width: 768px)
				display: block
				width: 27px