.main
	background: #373737 url(../img/main/layer.png) center no-repeat
	padding-top: 65px
	padding-bottom: 60px
	position: relative
	color: #ffffff
	z-index: 1
	background-size: cover
	@media (max-width: 992px)
		padding: 40px 0
	&::before
		content: ''
		display: block
		position: absolute
		right: 0
		top: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, 0.6)
		z-index: 0
	&__btn
		display: block
		margin: 0 auto
		text-align: center
		@media (max-width: 1200px)
			height: 56px
		@media (max-width: 576px)
			width: 180px
			height: 51px
	&__img-wrap
		position: relative
		z-index: 0
		left: -110px
		@media (max-width: 1200px)
			position: relative
			z-index: 0
			left: -12px
		&::before
			content: ''
			position: absolute
			width: 390px
			height: 390px
			border: 1px solid #63686c
			border-radius: 50%
			z-index: -1
			left: 50%
			margin-left: -90px
			@media (max-width: 1200px)
				width: 300px
				height: 300px
				margin-left: -105px
		&::after
			content: ""
			position: absolute
			background-image: url(../img/main/sign.png)
			bottom: -7px
			left: 90px
			width: 60px
			height: 50px
			z-index: 999
			@media (max-width: 1200px)
				left: 50px	
	&__img
		@media (max-width: 1200px)
			width: 100%
	&__body
		@media (max-width: 768px)
			text-align: center	
	&__title
		font-size: 41px
		font-weight: 700
		margin-bottom: 25px
		@media (max-width: 992px)
			margin-top: 0
			font-size: 28px
			color: #fff
			margin-bottom: 0
			text-align: center
		@media (max-width: 768px)
			font-weight: 700
			color: #ff9d00
		@media (max-width: 576px)
			font-size: 22px	
	&__subtitle
		font-size: 28px
		font-weight: 300
		padding-bottom: 27px
		@media (max-width: 992px)
			font-size: 22px
			font-weight: 400
			padding-top: 10px
			padding-bottom: 10px
			text-align: center
		@media (max-width: 576px)
			font-size: 18px
			padding-top: 5px
			padding-bottom: 40px
	&__form
		max-width: 535px
		background-color: rgba(255, 255, 255, 0.2)
		padding: 30px 27px
		@media (max-width: 992px)
			padding: 15px
			margin: 0 auto
		@media (max-width: 768px)
			background-color: transparent
			padding: 0
	&__text
		font-size: 20px
		font-weight: 300
		line-height: 1.4
		@media (max-width: 992px)
			font-size: 16px
			padding-right: 0
			padding-bottom: 15px
			text-align: center
		@media (max-width: 768px)
			line-height: 1.4
			padding-bottom: 15
		@media (max-width: 576px)
			font-size: 15px	
		&_big
			font-weight: 700
			text-transform: uppercase
			line-height: 1
			padding-top: 10px
			@media (max-width: 992px)
				display: block
				text-align: center
	&__form-wrap	
		display: flex
		align-items-center
		justify-content: space-between
		padding-top: 18px
		padding-bottom: 12px
		@media (max-width: 576px)
			display: block
	&__form-input
		flex-basis: 311px
		@media (max-width: 1200px)
			height: 56px
		@media (max-width: 992px)
			max-width: 300px
			flex-basis: initial
		@media (max-width: 576px)
			max-width: 290px
			height: 51px
	&__note
		font-size: 14px
		font-weight: 300
		margin-left: 20px
		@media (max-width: 992px)
			text-align: center
			display: block
			margin: 0
		@media (max-width: 768px)
			margin-left: 0