
.offer
	background: #373737 url(../img/offer/img_form.png) center no-repeat
	padding-top: 64px
	padding-bottom: 69px
	position: relative
	color: #ffffff
	z-index: 1
	background-size: cover
	@media (max-width: 	992px)
		padding: 40px	0
	@media (max-width: 	768px)
		padding: 30px	0	
	&::before
		content: ''
		display: block
		position: absolute
		right: 0
		top: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, 0.6)
		z-index: 0

	&__header
		text-align: center
		padding: 0
		font-size: 30px
		font-weight: 400
		line-height: 1
		@media (max-width: 768px)
			font-size: 20px


	&__subheader
		font-size: 24px
		padding-top: 15px
		text-align: center
		@media (max-width: 768px)
			font-size: 16px

	&__lable
		display: block
		text-align: center
		margin-top: 23px
		font-size: 20px
		font-weight: 300
		line-height: 1
		padding-bottom: 17px
		@media (max-width: 768px)
			font-size: 14px
			padding-bottom: 22px

	&__input
		width: 365px
		height: 56px
		vertical-align: middle
		display: block
		text-align: center
		margin: 0 auto
		@media (max-width: 768px)
			max-width: 100%
		@media (max-width: 576px)
			max-width: 290px
			height: 51px

	&__btn
		display: block
		width: 180px
		height: 56px
		font-size: 15px
		margin: 12px auto
		font-weight: 500
		vertical-align: middle
		padding: 17px
		@media (max-width: 576px)
			padding: 0 28px
			height: 51px
			line-height: 22px

	&__note
		text-align: center
		font-size: 14px
		font-weight: 300
		line-height: 1
		margin-top: 9px