
.overlay
	position: fixed
	display: none
	top: 0
	width: 100%
	height: 100%
	z-index: 100
	background-color: rgba(0, 0, 0, 0.4)
	
.popup
	display: block
	position: fixed
	left: 50%
	top: 50%
	width: 750px
	transform: translate(-50%, -50%)
	@media (max-width: 992px)
		width: 95%

	&-close
		position: absolute
		font-size: 36px
		color: #fff
		font-weight: 300
		cursor: pointer
		top: -30px
		right: -20px
		@media (max-width: 992px)
			top: -37px
			right: -22px
		@media (max-width: 768px)
			top: -45px
			right: -3px
		@media (min-width: 992px)
			&:hover
				color: #ff9d00
				display: block

	&__title
		width: 100%
		min-height: 68px
		color: #fff
		font-size: 21px
		font-weight: 500
		line-height: 68px
		text-transform: uppercase
		text-align: center
		background-color: #ff9d00
		@media (max-width: 992px)
			font-size: 18px
		@media (max-width: 768px)
			font-size: 15px
	&__form
		color: #fff
		padding: 35px 0 50px
		background: url(../img/bgc-color.png) center no-repeat
		background-size: cover
		@media (max-width: 992px)
			padding: 20px
		&-title
			text-align: center
			padding: 0
			font-size: 29px
			font-weight: 400
			line-height: 1
			@media (max-width: 992px)
				font-size: 22px
			@media (max-width: 576px)
				font-size: 20px
		&-subtitle
			text-align: center
			font-size: 24px
			@media (max-width: 992px)
				font-size: 18px
			@media (max-width: 576px)
				font-size: 15px
		&-inner
			max-width: 560px
			margin: 0 auto
		&-wrap
			display: flex
			justify-content: space-between
			margin-top: 17px
			@media (max-width: 768px)
				flex-direction: column
				align-items: center
	&__lable
		text-align: center
		margin-top: 23px
		font-size: 20px
		font-weight: 300
		line-height: 1
		@media (max-width: 992px)
			margin-top: 15px
			font-size: 15px
		@media (max-width: 576px)
			font-size: 15px
	&__input
		flex-basis: 365px
		height: 56px
		margin-right: 0
		@media (max-width: 768px)
			max-width: 283px
			width: 100%
			flex-basis: initial
	&__btn
		flex-basis: 180px
		height: 56px
		font-size: 15px
		margin-left: 10px
		@media (max-width: 768px)
			max-width: 183px
			width: 100%
			flex-basis: initial
	&__note
		font-size: 14px
		font-weight: 300
		line-height: 1
		margin-top: 9px
		display: block
		text-align: center




