.production
	text-align: center
	padding-bottom: 73px
	padding-top: 57px
	@media (max-width: 	992px)
		padding: 40px	0
	@media (max-width: 	768px)
		padding: 30px	0	
	&__header
		text-align: center
		text-transform: uppercase
		font-size: 27px
		font-weight: 700
		line-height: 18px
		color: #313131
		@media (max-width: 768px)
			font-size: 22px
		&-img
			display: inline-block
			text-align: center
			padding-top: 12px
			@media (max-width: 992px)
				display: none
	&__boxes
		text-align: center
		padding-top: 35px
		&-img
			max-height: 273px
			width: 100%
			height: 100%
			object-fit: contain
	&__btns
		display: flex
		justify-content: center
		margin-top: 19px
		@media (max-width: 768px)
			margin-top: 17px
	&__btn
		font-family: Roboto
		&-grey
			background-color: transparent
			color: #afafaf
			border: 1px solid #afafaf
			border-radius: 4px
			margin-right: 8px
			font-weight: 400
			@media (min-width: 992px)
				&:hover
					color: #fff
	&__name
		font-size: 20px
		font-weight: 500
		padding-top: 19px
		@media (max-width: 768px)
			font-size: 18px
			padding-top: 10px

