.scores
	background-color: $light-grey
	padding: 49px 0 20px
	@media (max-width: 992px)
			padding: 30px	0
	@media (max-width: 768px)
		padding-top: 5px
		padding-bottom: 10px
	&__item
		display: inline-block
		width: 32%
		vertical-align: top
		text-align: center

		@media (max-width: 992px)
			margin-top: 24px
		@media (max-width: 768px)
			display: block;
			width: 100%;
			margin-top: 24px;
	
	&__header
		font-size: 36px
		font-weight: 900
		color: #f39003
		padding-bottom: 10px
		@media (max-width: 992px)
			font-size: 29px
	&__sup
			font-size: 19px	
	&__text
		font-size: 16px
		font-weight: 400
		line-height: 20px
		color: #373737